KIE_API_KEY=your_kie_api_key_here
MAX_USER_CHARS=250
MAX_OUTPUT_TOKENS=70
KIE_TEMPERATURE=0.2
LLM_RESPONSE_SLA_SECONDS=5
LLM_CONNECT_TIMEOUT_SECONDS=1.5
LLM_READ_TIMEOUT_SECONDS=3.0
LLM_MAX_RETRIES=0
REQUIRE_HTTPS=0
TRUST_PROXY_HEADERS=1
