<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>iMuslimEd</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <!-- плавающая кнопка -->
  <button id="openIslamBtn" class="islam-btn">
    <img src="{{ url_for('static', filename='moonstar_white.png') }}" alt="Islam" class="moon-icon">
  </button>

  <!-- всплывающее окно -->
  <div id="islamPopup" class="islam-popup">
    <div class="popup-header">
      <span>Московский Университет им. С.Ю. Витте</span>
      <button id="closePopup" class="close-btn">✕</button>
    </div>      

    <div class="popup-body">
      <img src="{{ url_for('static', filename='mosque_dome_red.png') }}" alt="Купол мечети" class="popup-dome">
      <img src="{{ url_for('static', filename='moonstar_red.png') }}" alt="Islam" class="popup-icon">
      <p class="popup-question">Ваша религия Ислам?</p>
      <label class="switch">
        <input type="checkbox" id="religionToggle">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <!-- зелёное окно (авторизация) -->
<div id="authPopup" class="auth-popup">
  <div class="auth-header">
    <span>Московский Университет им. С.Ю. Витте</span>
    <button id="closeAuth" class="close-btn">✕</button>
  </div>

  <div class="auth-body">
    <img src="{{ url_for('static', filename='mosque_dome_green.png') }}" class="auth-dome">
    <img src="{{ url_for('static', filename='moonstar_green.png') }}" class="auth-icon">

    <p class="auth-title">Авторизуйтесь</p>

    <input type="text" placeholder="Логин" class="auth-input">
    <input type="password" placeholder="Пароль" class="auth-input">

    <button class="auth-btn">Войти</button>
  </div>
</div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
